Carregando

In [5]:
import numpy as np

anos = np.loadtxt(fname='data/carros-anos.txt', dtype=int)
km = np.loadtxt(fname='data/carros-km.txt')
valor = np.loadtxt(fname='data/carros-valor.txt')

In [6]:
dataset = np.column_stack((anos, km, valor))
dataset.shape

(258, 3)

In [7]:
print(np.mean(dataset[:, 1]))
print(np.std(dataset[:, 1]))
print(np.sum(dataset[:, 1]))

44499.41472868217
39859.82699005149
11480849.0

In [8]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}
dados

{'Crossfox': {'valor': 72000, 'ano': 2005},
 'DS5': {'valor': 125000, 'ano': 2015},
 'Fusca': {'valor': 150000, 'ano': 1976},
 'Jetta': {'valor': 88000, 'ano': 2010},
 'Passat': {'valor': 106000, 'ano': 1998}}

In [22]:
for item in dados.items() :
    print(item[1]['ano'])

2005
2015
1976
2010
1998